<header class="header">
  <nav class="navbar">
    <div class="navbar-brand">
      <img  src="{{{uiRootPath}}}/img/dpt-info.svg" alt="logo"/>
      <button class="navbar-burger" data-target="topbar-nav">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>
    <div id="topbar-nav" class="navbar-menu">
      <div class="navbar-end">
        <a class="navbar-item" id="accueil" href="{{{or site.url (or siteRootUrl siteRootPath)}}}">ACCUEIL</a>
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link"id="liens"href="#">LIENS EXTERNES</a>
          <div class="navbar-dropdown">
            <a class="navbar-item" href="https://webetud.iut-blagnac.fr/">Moodle</a>
            <a class="navbar-item" href="https://www.iut-blagnac.fr/">IUT de Blagnac</a>
            <a class="navbar-item" href="https://www.univ-tlse2.fr/">UT2J</a>
          </div>
        </div>
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link"id="programme"href="#">PROGRAMME NATIONAL</a>
          <div class="navbar-dropdown">
            <a class="navbar-item" href="pdf.html">PN 2022</a>
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>
